*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container_form_page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}


.container{}

.heading{
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}

.profile{
  display: flex;
  flex-wrap: wrap;

}

.profile_posts{
  width: 50%;
  padding: 30px;
}