.form-group input,textarea{
    outline: none;
    padding: 6px 0;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
    
}

.form-group label{
    padding: 5px;
    font-size: 20px;
    margin: 20px  0  ;
}