.navigation{
    margin:0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo a{
    cursor: pointer;
    color: white;
}

.navigation li a{
    color: #fff;
}
.nav_list{
    list-style: none;
    display: flex;
}