li{
    margin: 0 10px;
}

.head_dropdown{
    position: relative;
}

.dropdown{
    position: absolute;
    top: 0px;
}

.dropdown li {
    border-bottom: 1px solid white;
    background-color: blue;
    width: fit-content;
    padding: 10px;
    display: block;
}