li{
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    
}

.head_dropdown{
    position: relative;
}

.dropdown{
    position: absolute;
    top: 20px;
}

.dropdown li {
    border-bottom: 1px solid white;
    background-color: black;
    width: fit-content;
    padding: 10px;
    display: block;
    border: 0px 0px 10px black;
}

